/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


:root {
  /* --color-primary: #217BF4; */
  --color-primary: rgb(33, 123, 244);
  --color-primary-10: rgba(33, 123, 244, 0.1);
  --color-secondary: #FFAF2E;
  --color-white: #FFFFFF;
  --color-heading: #0A093D;
  --color-text: #656464;
  --full-width: 1170px;
}

body {
  color: var(--color-text);
  font-family: 'Inter', sans-serzif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.btn {
  display: inline-flex;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 48px;
  padding: 0 40px;
  line-height: 1;
  align-items: center;
  border-radius: 1rem;
}

.btn__secondary {
  background-color: transparent;
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
}

.btn--large {
  height: 64px;
  padding: 0 48px;
}

.container {
  width:  var(--full-width);
  margin: 0 auto;
}

.prime {
  background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
}

.header {
  border-bottom: solid 1px var(--color-primary-10);
  padding: 1.5rem 0;
}

.header__container {
  display: grid;
  grid-template-columns: 145px 1fr auto;
  gap: 4.5rem;
  align-items: center;
}

.header__nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.header__nav a.active {
  color: #2B2B39;
  font-weight: bold;
}

.header__actions {
  display: flex;
  gap: 3rem;
}

.header__search {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 1rem;
  align-items: center;
}

.header__search input {
  all: unset;
  width: 7.5rem;
}

.hero {
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.hero__title {
  font-size: 0.75rem;
  background-color: var(--color-primary-10);
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  color: var(--color-primary);
  padding: 0 2rem;
  height: 2rem;
}

.hero__subtitle {
  font-size: 3.5rem;
  line-height: 1.1;
  margin: 1.5rem 0;
}

.hero__description {
  font-size: 1.125rem;
  margin-bottom: 2.5rem;
}

.hero__cta {
  display: flex;
  gap: 1rem;
}