/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* --color-primary: #217BF4; */
  --color-primary: rgb(33, 123, 244);
  --color-primary-10: rgba(33, 123, 244, 0.1);
  --color-secondary: #ffaf2e;
  --color-white: #ffffff;
  --color-heading: #0a093d;
  --color-text: #656464;
  --full-width: 1170px;
}

body {
  color: var(--color-text);
  font-family: 'Inter', sans-serzif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.btn {
  display: inline-flex;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 48px;
  padding: 0 40px;
  line-height: 1;
  align-items: center;
  border-radius: 1rem;
}

.btn__secondary {
  background-color: transparent;
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
}

.btn--large {
  height: 64px;
  padding: 0 48px;
}

.container {
  width: var(--full-width);
  margin: 0 auto;
}

.prime {
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
}

.header {
  border-bottom: solid 1px var(--color-primary-10);
  padding: 1.5rem 0;
}

.header__container {
  display: grid;
  grid-template-columns: 145px 1fr auto;
  gap: 4.5rem;
  align-items: center;
}

.header__nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.header__nav a.active {
  color: #2b2b39;
  font-weight: bold;
}

.header__actions {
  display: flex;
  gap: 3rem;
}

.header__search {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1rem;
  align-items: center;
}

.header__search input {
  all: unset;
  width: 7.5rem;
}

.hero {
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.hero__title {
  font-size: 0.75rem;
  background-color: var(--color-primary-10);
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  color: var(--color-primary);
  padding: 0 2rem;
  height: 2rem;
}

.hero__subtitle {
  font-size: 3.5rem;
  line-height: 1.1;
  margin: 1.5rem 0;
}

.hero__description {
  font-size: 1.125rem;
  margin-bottom: 2.5rem;
}

.hero__cta {
  display: flex;
  gap: 1rem;
}

.whats-netbooks {
  display: flex;
  align-items: center;
  gap: 12.5rem;
  margin: 6rem auto;
}

.whats-netbooks__content h2 {
  font-size: 1.125rem;
  color: var(--color-primary);
}

.whats-netbooks__content h3 {
  font-size: 2.25rem;
  line-height: 1.33;
  margin-bottom: 1rem;
}

.whats-netbooks__content p {
  margin-bottom: 2rem;
}

.whats-netbooks__content ul {
  font-size: 1.125rem;
  list-style: none;
  padding-left: 0;
}

.whats-netbooks__content li {
  position: relative;
  padding-left: 2rem;
}

/* TODO: Find a better way to apply border color */
.whats-netbooks__content li:before {
  content: '';
  position: absolute;
  background-color: var(--color-primary);
  border: solid 4px #e9f2fe;
  box-sizing: content-box;
  width: 8px;
  height: 8px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
}

.whats-netbooks__images {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 564px;
}

.whats-netbooks__images img {
  border-radius: 1rem;
}

.whats-netbooks__video {
  grid-row: 1 / -1;
}

.achievement {
  display: grid;
  grid-template-columns: 340px 340px 1fr;
  gap: 1.5rem;
}

.achievement .card {
  background: linear-gradient(#fff, #fff) padding-box,
              linear-gradient(to bottom, rgba(185, 185, 185, 0.44), rgba(94, 94, 94, 0.58)) 
              border-box;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 3rem 1.125rem 2.5rem 2.5rem;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.achievement .card a {
  position: relative;
  padding-right: 20px;
}

.achievement .card a:hover {
  color: var(--color-primary);
}

/* .achievement .card a:after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background-image: url("/images/ico-arrow.svg");
  width: 10px;
  height: 10px;
} */

.achievement .card a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.achievement .card:hover {
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.24);
  transform: translate(-4px, -4px);
}

.achievement .card__subtitle {
  margin-bottom: 2.5rem;
}

.achievement .card__subtitle b {
  color: var(--color-primary);
}

.achievement .card__content {
  margin-bottom: 2rem;
}

.card.rating .card__title, .card.awards .card__title {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}