/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* --color-primary: #217BF4; */
  --color-primary: rgb(33, 123, 244);
  --color-primary-10: rgba(33, 123, 244, 0.1);
  --color-secondary: #ffaf2e;
  --color-white: #ffffff;
  --color-heading: #0a093d;
  --color-text: #656464;
  --full-width: 1170px;
}

body {
  color: var(--color-text);
  font-family: 'Inter', sans-serzif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.btn {
  display: inline-flex;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 48px;
  padding: 0 40px;
  line-height: 1;
  align-items: center;
  border-radius: 1rem;
}

.btn svg {
  margin-left: 1rem;
}

.btn__secondary {
  background-color: transparent;
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
}

.btn--large {
  height: 64px;
  padding: 0 48px;
}

h2.section__title {
  font-size: 1.125rem;
  color: var(--color-primary);
}

p.section__subtitle {
  color: var(--color-heading);
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.33;
  margin-bottom: 1rem;
}

.container {
  width: var(--full-width);
  margin: 0 auto;
}

.card.rating .card__title,
.card.awards .card__title {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.card.rating .card__subtitle {
  display: flex;
  align-items: center;
}

.card__avatars {
  display: inline-flex;
  margin-right: 1rem;
}

.card__avatars img {
  border: solid 1px var(--color-white);
  border-radius: 50%;
  width: 1.5rem;
  aspect-ratio: 1/1;
  box-shadow: -5px 4px 14px rgba(151, 151, 151, 0.28);
}

.card__avatars img:not(:first-child) {
  margin-left: -6px;
}

.prime {
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
}

.header {
  border-bottom: solid 1px var(--color-primary-10);
  padding: 1.5rem 0;
}

.header__container {
  display: grid;
  grid-template-columns: 145px 1fr auto;
  gap: 4.5rem;
  align-items: center;
}

.header__nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.header__nav a.active {
  color: #2b2b39;
  font-weight: bold;
}

.header__actions {
  display: flex;
  gap: 3rem;
}

.header__search {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1rem;
  align-items: center;
}

.header__search input {
  all: unset;
  width: 7.5rem;
}

.hero {
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.hero__title {
  font-size: 0.75rem;
  background-color: var(--color-primary-10);
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  color: var(--color-primary);
  padding: 0 2rem;
  height: 2rem;
}

.hero__subtitle {
  font-size: 3.5rem;
  line-height: 1.1;
  margin: 1.5rem 0;
}

.hero__description {
  font-size: 1.125rem;
  margin-bottom: 2.5rem;
}

.hero__cta {
  display: flex;
  gap: 1rem;
}

.whats-netbooks {
  display: flex;
  align-items: center;
  gap: 12.5rem;
  margin: 6rem auto;
}

.whats-netbooks__content p {
  margin-bottom: 2rem;
}

.whats-netbooks__content ul {
  font-size: 1.125rem;
  list-style: none;
  padding-left: 0;
}

.whats-netbooks__content li {
  position: relative;
  padding-left: 2rem;
}

/* TODO: Find a better way to apply border color */
.whats-netbooks__content li:before {
  content: '';
  position: absolute;
  background-color: var(--color-primary);
  border: solid 4px #e9f2fe;
  box-sizing: content-box;
  width: 8px;
  height: 8px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
}

.whats-netbooks__images {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 564px;
}

.whats-netbooks__images img {
  border-radius: 1rem;
}

.whats-netbooks__video {
  grid-row: 1 / -1;
}

.achievement {
  display: grid;
  grid-template-columns: 340px 340px 1fr;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 96px;
}

.achievement .card {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to bottom, rgba(185, 185, 185, 0.44), rgba(94, 94, 94, 0.58)) border-box;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 3rem 1.125rem 2.5rem 2.5rem;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.achievement .card a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.achievement .card a:hover {
  color: var(--color-primary);
}

.achievement .card a:hover svg path {
  stroke: var(--color-primary);
}

.achievement .card:hover {
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.24);
  transform: translate(-4px, -4px);
}

.achievement .card__subtitle {
  margin-bottom: 2.5rem;
}

.card__subtitle b {
  color: var(--color-primary);
}

.achievement .card__content {
  margin-bottom: 2rem;
}

.achievement__content {
  margin-inline-start: auto;
  width: 380px;
}

.achievement__content p:not(.section__subtitle) {
  margin-bottom: 2rem;
}

.community {
  background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #f1f6fd 20.5%, #f1f6fd 58.57%, #ffffff 100%);
  padding: 5rem 0;
  margin-bottom: 7.5rem;
}

.community__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 2.5rem;
}

.community__content {
  text-align: center;
  width: 28rem;
  margin: 0 auto 4rem;
}

.community__card {
  padding: 2.5rem 4rem 2.5rem 2.5rem;
  background-color: var(--color-white);
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.community__card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 66px;
  aspect-ratio: 1/1;
  border-radius: 1.5rem;
}

.community__members .community__card-icon, .community__custom .community__card-icon {
  background: linear-gradient(154.49deg, #5ca1fe 6.61%, #217bf4 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(109, 171, 255, 0.36);
}
.community__groups .community__card-icon, .community__builder .community__card-icon {
  background: linear-gradient(154.49deg, #ff858a 6.61%, #f04148 89.72%);
  box-shadow: 0px 8px 22px -2px rgba(248, 87, 94, 0.3);
}
.community__forum .community__card-icon, .community__scroll .community__card-icon {
  background: linear-gradient(154.49deg, #FFD085 6.61%, #FFAF2E 89.72%);
box-shadow: 0px 10px 22px -2px rgba(250, 186, 84, 0.3);
}

.team {
  margin-bottom: 5rem;
}

.team__content {
  width: 28.125rem;
  margin: 0 auto;
  text-align: center;
}

.team__tabs {
  background-color: var(--color-primary-10);
  width: 28.125rem;
  margin: 2.5rem auto;
  display: flex;
  border-radius: 1rem;
  padding: 0.5rem;
}

.team__tab {
  align-items: center;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  flex-grow: 1;
  height: 3.5rem;
  justify-content: center;
  padding: 0 2rem;
}

.team__tab:hover {
  color: var(--color-primary);
}

.team__tab--active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.team__members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem
}

.team__member-card {
  text-align: center;
  border: solid 1px #F3F3F3;
  border-radius: 1rem;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  padding: 2rem;
}

.team__member-card:hover {
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.24);
  transform: translate(-4px, -4px);
}

.team__member-picture {
  background-color: var(--color-primary-10);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 142px;
}

.team__member-bluecheck {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  z-index: 1;
}

.team__member-avatar {
  display: inline-block;
  position: relative;
}

.team__member-name {
  font-size: 1.5rem;
}

.app {
  background-color: #E5F0FD;
  overflow: hidden;
}

.app .container {
  display: grid;
  grid-template-columns: 350px 1fr;
  height: 560px;
  align-items: center;

}

.app__screenshot {
  position: relative;
  align-self: end;
  width: 341px;
  margin-inline-start: auto;
}

.app__screenshot .app__screenshot-picture {
  filter: drop-shadow(0px 80px 250px rgba(0, 0, 0, 0.2));
  position: relative;
  z-index: 1;
}

.app__screenshot-circle-1, .app__screenshot-circle-2 {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  left: -72px;

  position: absolute;
}

.app__screenshot-shine {
  position: absolute;
  right: -57px;
  top: -54px;
}

.app__screenshot-circle-1 {
  background-color: #FC6A65;
  bottom: 72px;
}

.app__screenshot-circle-2 {
  background-color: #489D92;
  bottom: -72px;
}

.app__buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.app__buttons img {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 22px rgba(178, 188, 208, 0.21);
}